---
interface Props {
  phone?: string;
  message?: string;
}

const {
  phone = "5493764102637",
  message = "Hola!%20Quisiera%20hacer%20una%20consulta.",
} = Astro.props;

const whatsappUrl = `https://wa.me/${phone}?text=${message}`;
---

<a
  href={whatsappUrl}
  target="_blank"
  class="fixed bottom-6 right-6 z-40 bg-[#25D366] text-white w-14 h-14 rounded-full shadow-2xl hover:scale-110 transition-all duration-300 flex items-center justify-center group "
  aria-label="Chat on WhatsApp"
>
  <i class="ph-fill ph-whatsapp-logo text-3xl"></i>
  <span
    class="absolute right-16 bg-slate-800 text-white text-[10px] uppercase tracking-widest px-2 py-1 rounded opacity-0 group-hover:opacity-100 transition-opacity whitespace-nowrap pointer-events-none"
  >
    Contacto directo
  </span>
</a>
